.our-clients {
    h2 {
        text-align: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;

        li {
            height: 92px;
            width: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $color-grey-icons;
            border-radius: 4px;
            position: relative;
            margin: 15px;
            transition: background-color .25s cubic-bezier(0.4, 0, 0.2, 1);

            @media (min-width: 1200px) {
                width: 170px;
            }

            &:active, &:hover {
                border-color: $color-blue;

                svg {
                    fill: $color-blue;
                }
            }

            a {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
            }

            svg {
                fill: $color-grey-icons;
                transition: fill .25s cubic-bezier(0.4, 0, 0.2, 1);
            }
        }
    }
}

