.splash {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    max-width: 1600px;
    background-image: url("/images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    text-align: center;
    margin: 0 auto;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(47, 48, 58, 0.4);
        opacity: .7;
        background-size: cover;
    }

    h1 {
        font-size: 44px;
        max-width: 650px;
        letter-spacing: 0.06em;
        z-index: 2;
    }
}