.splash {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    max-width: 1600px;
    background-image: url("/images/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    text-align: center;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/images/header-background@2x.jpg);
    }

    @media (min-width: 1200px) {
        height: 600px;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(47, 48, 58, 0.4);
        opacity: .7;
        background-size: cover;
    }

    h1 {
        font-size: 26px;
        max-width: 390px;
        letter-spacing: 0.06em;
        z-index: 2;

        @media (min-width: 1200px) {
            font-size: 44px;
            max-width: 700px;
        }
    }
}