.strengths {
    padding-bottom: 0;

    ul {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        @media (min-width: 768px) and (max-width: 1199px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        @media (min-width: 1200px) {
            flex-direction: row;
        }

        li {

            margin-left: 15px;
            margin-right: 15px;
            text-align: center;
            
            @media (min-width: 768px) and (max-width: 1199px) {
                text-align: left;
                width: 40%;
            }

            @media (min-width: 1200px) {
                text-align: left;
            }

            figure {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-light;
                padding: 25px 101.5px;
                border-radius: 4px;
                margin-bottom: 30px;
                transition: border .25s cubic-bezier(0.4, 0, 0.2, 1);
            }

            h4 {
                padding-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
            }

            p {
                line-height: 24px;
                color: $color-light-grey;
                font-size: 14px;
                max-width: 450px;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 30px;
      
                @media (min-width: 768px) and (max-width: 1199px) {
                    text-align: left;
                    margin: 0;
                    max-width: 354px;
                }

                @media (min-width: 1200px) {
                    text-align: left;
                }
            }
        }
    }
}