$color-black: #212121;
$color-white: #FFFFFF;
$color-blue: #2196F3;
$color-grey: #2F303A;
$color-light-grey: #757575;
$color-light: #F5F4FA;
$color-light-border: #EEEEEE;
$color-nav-border: #ECECEC;
$color-grey-icons: #AFB1B8;

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
